// MOBILE 
//@media (max-width: 480px) {

@media (max-aspect-ratio: 1/1) {

$navBarHeight: 40px;

$Padding: 16px;

$doublePadding: #{2*$Padding};

$headerHeight: 35px;
$nextBarHeight: 33px;
$nextBarPadding: 9px;

$navBarHeight: 40px;
$logoWidth: 70px;
$rightLinkWidth: 80px;


html, body { 
	font-size: 14px !important;
}

html {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
}


#NavBar { 
	height: $navBarHeight;
	background-color: $lightBlue;
}

.navDiv { 
	float: left;
	height: 100%;
}

#logo {
	width: $logoWidth;
}
#logoImage { 
	height: 19px;
    display:block;
    margin:auto;
    margin-top: 10px;
    margin-left: 14px;
}


#back {
	width: calc(100% - #{$logoWidth + $rightLinkWidth});
}
#backTextLink { 
	height: $navBarHeight;
	text-align: center;
}
#backTextLink { 
	text-align: center;
	height: $navBarHeight;
	padding-top: 10px;
	color: black;
}

#ReturnBackImg { 
	height: 12px;
}

#backText { 
	text-align: center;
	padding-top: 10px;
}

#backText:hover { 
	color: 	#484848;
}

#rightLink { 
	width: $rightLinkWidth;
}
#rightText { 
	text-align: center;
	padding-top: 10px;
	color: black;
}
#rightText:hover { 
	color: 	#484848;
}


#Model { 
	width: 100%;
	height: calc(100% - #{$navBarHeight});
}



// Loader / spinner wheel
#over {
	width: 100%;
	height: $mobileFrac;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: white;

    text-align: center;  
}
#over:before {  
    content: ' ';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}
#over img {
    display: inline-block;
    vertical-align: middle;
}


// Sidebar 
#SidebarMenu { 
	background-color: white;
}
.item { 
	text-align: left !important;
	padding-left: $Padding !important;
}
.item a { 
	color: black !important;
	font-weight: normal;
}
.item:hover { 
	background-color: $lightBlue !important;
	cursor: pointer !important;
}
#activeLink { 
	background-color: $darkBlue !important;
}

#activeh3 { 
	color: white !important;
}
#sideBarDescription { 
	text-align: left;
	padding-left: $Padding;
	padding-top: $Padding;
	margin-bottom: $Padding;
}
.SideBarMenuItem { 
	font-weight: normal;
}

// The title header and icon 
#header { 
	//height: $headerHeight;
	// background-color: blue;
}
#headerWords { 
	width: calc(100% - #{$Padding + 30px});
	display: inline-block;
	vertical-align: top;
	font-size: 1.5em;
	margin-bottom: 8px;
}

#ContentView { 
	height: calc(100% - #{$headerHeight + $nextBarHeight + $nextBarPadding});
	width: 100%;


	overflow-y:scroll; 
	-webkit-overflow-scrolling: touch;
	
	padding-right: $Padding;
	margin-bottom: $nextBarPadding;

	// background-color: green;
}


#fadeoutBottom {
    position: absolute; 
    bottom: #{2*$nextBarPadding + $nextBarHeight};
    width: 100%;
    height: 1em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 


// Bottom of panel page navigation  
#navDiv { 
	width: calc(100% - #{$Padding});
	height: #{$nextBarHeight + $buttonHoverRaise};
//    background-color:orange;
}


.navElement { 
	display: inline-block;
	height: $nextBarHeight;
	text-align:center;
}


.navLeft { 
	float: left;
	width: calc(50% - 25px);
//	background-color: red;
}

.navLeft a { 
	float: left;
	margin-left: calc(50% - 53px);
}

.counter { 
	float: left;
	text-align: center;
	padding-top: 10px;
	margin-top: $buttonHoverRaise;
//	background-color: green;
	width: 50px;
}

.navRight { 	
//	float: right;
	width: calc(50% - 25px);
}
.navRight a { 
	float: left;
	margin-left: calc(50% - 53px);
}


.navButton { 
//	visibility: hidden !important;
}





.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}



#pusherIcon { 
	height: 22px;
	margin-top: 5px;
	margin-left: 5px;
}
#pusherIcon:hover {
    cursor: pointer !important;
    background-color: $darkGrey;
}

// Geogebra divs
#Applet { 
	height: $mobileFrac;
	width: 100%;
	padding: $Padding;
	background-color: "white";
}

#AppMain { 
	height:100%;
	width: 100%;
}


// Right control panel 
#Panel { 
	height: #{100% - $mobileFrac};
	width: calc(100% - $Padding);
	padding-left: $Padding;
	//background-color: $lightGrey;
}
#PanelContainer { 
	height: 100%;
	padding-bottom: $nextBarPadding;
}


#AboutText { 
	overflow-y:scroll; 
	-webkit-overflow-scrolling: touch;
	overflow-x:hidden; 
	height: calc(100% - #{$navBarHeight});
	padding-top: #{$navBarHeight - 20px};
}






#Land { 
	width: 100%;
	height: 100%;
}


#landingDivWrapper { 
	width: 100%;
	height: calc(100% - #{$navBarHeight});
}

#landingSlide { 
	width: 100%;
	height: 100%;
	overflow-y:scroll; 
	-webkit-overflow-scrolling: touch;

	overflow-x:hidden; 
}

#landingDiv1 { 
//	height: calc(100% - #{$navBarHeight});;
	width: 100%;
	background-color: white;
}

#landContainer1 { 
	height: 100%;
}


#landingDiv2 { 
//	height: calc(100% - #{$navBarHeight});;
	width: 100%;
	background-color: $lightGrey;
}

#landContainer2 { 
	height: 100%;
}


#paddingDiv { 
	height: 15px;
}

#paddingDiv2 { 
	height: 25px;
}
#paddingDiv3 { 
	height: 20%;
}

#shiftDiv { 

	padding-right: 1em !important;
	padding-left: 1em !important;
}


#landingTitle { 
	font-weight: 500;
	font-size: 1.8em;	
	padding-top: 5%;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#landingDescription { 
	font-weight: 300;
	font-size: 1.2em;
}

.ExploreButton { 
	width: 200px !important;
	height: 50px !important;
	border-radius: 0 !important;
	font-family: 'Oxygen', "Segoe UI", "Helvetica Neue", sans-serif !important;
	font-weight: 400 !important;
	font-size: 1.2em !important;
	animation: nextEase 3s infinite ease;

	margin-top: 1px !important;
	margin-bottom: 0px !important;

	//margin-top: 1px !important;
}

#butDiv { 
	text-align: center;
}

.ExploreButton:hover { 
	animation: hoverAnim 2s infinite ease;
	//margin-top: 0px !important;

	margin-top: 0px !important;
	margin-bottom: 1px !important;

}

#landImageDiv { 
	height: 70%;
	position: relative;
}




#landImageContainer { 
    width: 100%;
    height: 55%;
    margin: 0 auto;
    margin-bottom: 20px;
}
#landImage {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display:block;
    margin:auto;
}


#argumentSegment { 
	border-bottom: none;
	height: 50%;
}


.colLanding { 
	padding-top: 4em !important;
	padding-bottom: 4em !important;
	padding-right: 2em !important;
	padding-left: 2em !important;
}


.colTitle { 
	font-size: 1.5em !important;
	font-weight: 500 !important;
	margin-bottom: 0.5em !important;
}

.colTitleText { 
	font-size: 1.2em !important;
}

#div2CallToAction { 
	height: 50%; 
	text-align:center;
	 padding-bottom: 40px !important;
	 padding-top: 15px !important;

}

#readyText {
	font-size: 1.5em;
	font-weight: 500 !important;
	text-align: center !important;
}

#secondButton { 
	 margin: 0 auto !important;
}








}